* {
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  background-color: aliceblue;
}

h1, h2, h3 {
  text-transform: uppercase;
  padding: 30px;
  text-align: center;
}

section {
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  margin: 20px;
}


/* Color palette */

.color-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.color-div {
  border: 1px solid #000;
  margin: 20px;
  padding: 25px;
  box-shadow: 4px 4px;
}

.color-name {}
.color-code {font-style: italic;}

.lavender {background-color: lavender;}
.cadetblue {background-color: cadetblue;}
.lightcoral {background-color: lightcoral;}


/* BreadcrumbsNav */

.breadcrumbs {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px 30px;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: hotpink;
}

.breadcrumbs a:hover {
  color: red;
}

.breadcrumbs li+li::before {
  content: "> ";
}

.attribute a::after {
  content: ' x';
  font-size: 12px;
  color: #000;
  vertical-align: super;
}



/* Button Style */

button {
  margin: 20px;
  padding: 15px;
  width: 220px;
  color: #466995;
  font-family: 'Oswald',sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

#skeuomorphic {
  border: 1px solid skyblue;
  border-radius: 5px;
  box-shadow: 0px 4px;
  background-color: skyblue;
}

#skeuomorphic:hover {
  background-color: lightblue;
}

#skeuomorphic:active {
  margin-top: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 0px;
  border: 1px solid #fff;
  color: #fff;
}

#flatStyle {
  border: 1px solid aquamarine;
  border-radius: 5px;
  background-color: aquamarine;
}

#flatStyle:hover {
  text-decoration: underline;
}

#flatStyle:active {
  border: 1px solid #466995;
  color: #fff;
  background-color: #466995;
}

/* Code */

code {
  color: #fff;
  background-color: #10162F;
  padding: 30px;
}

/* Text */

.container-text {
  display: flex;
  flex-flow: column wrap;
}

.panel-text {
  border-bottom: 1px dotted #000;
  padding: 20px; 
}

.text-normal {
  font-size: 40px;
}

.text-bold {
  font-size: 40px;
  font-weight: bold;
}

.text-italic {
  font-size: 40px;
  font-style: italic;
}


.rubik {font-family:'Rubik 80s Fade', cursive;}
.roboto {font-family: 'Roboto' , sans-serif;}
.bebasneue {font-family: 'Bebas Neue', cursive;}
