/* General */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  background-color: aliceblue;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px;
}

h1, h2, h3 {
  text-transform: uppercase;
  padding: 30px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

h2::after, h2::before {content: ' | ';}

section {
  width: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border: 1px solid black;
  text-align: center;
  margin: 20px;
  background-color: azure;
  box-shadow: 1px 3px;
}

.flex {
  
}


/* Color palette */

.color-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.color-div {
  border: 1px solid #000;
  margin: 20px;
  padding: 25px;
  box-shadow: 4px 4px;
  flex-shrink: 1;
}

.color-name {}
.color-code {font-style: italic;}

.lavender {background-color: lavender;}
.cadetblue {background-color: cadetblue;}
.lightcoral {background-color: lightcoral;}


/* BreadcrumbsNav */

.breadcrumbs {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px 30px;
  background-color: royalblue;
  box-shadow: 2px -2px 12px yellow;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: hotpink;
}

.breadcrumbs a:hover {
  color: red;
}

.breadcrumbs li+li::before {
  content: "> ";
}

.attribute a::after {
  content: ' x';
  font-size: 12px;
  color: #000;
  vertical-align: super;
}



/* Button Style */

button {
  margin: 20px;
  padding: 15px;
  width: 220px;
  color: #466995;
  font-family: 'Oswald',sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

#skeuomorphic {
  border: 1px solid skyblue;
  border-radius: 5px;
  box-shadow: 0px 4px;
  background-color: skyblue;
}

#skeuomorphic:hover {
  background-color: lightblue;
}

#skeuomorphic:active {
  margin-top: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 0px;
  border: 1px solid #fff;
  color: #fff;
}

#flatStyle {
  border: 1px solid aquamarine;
  border-radius: 5px;
  background-color: aquamarine;
}

#flatStyle:hover {
  text-decoration: underline;
}

#flatStyle:active {
  border: 1px solid #466995;
  color: #fff;
  background-color: #466995;
}

/* Code */

code {
  color: #fff;
  background-color: #10162F;
  padding: 30px;
}

/* Grid */

.container-grid {
  border: 1px solid blue;
  width: 100%;
  height: 1000px;
  display: grid;
  margin: auto;
  grid-template-areas: "header header"
                       "nav nav"
                       "left right"
                       "footer footer";
  grid-template-columns: 400px 200px;
  grid-template-rows: repeat(4, 200px);
  gap: 10px;
  /* justify-items: start; // ogni items prenderà lo spazio necessario */
  justify-content: center;
  align-content: center;
}

.header-grid {
  background-color: beige;
  grid-area: header;
}

.nav-grid {
  background-color: greenyellow;
  grid-area: nav;
}

.div-grid-left {
  background-color: #466995;
  grid-area: left;
}
.div-grid-right {
  background-color: aquamarine;
  grid-area: right;
}

.footer-grid {
  background-color: coral;
  grid-area: footer;
}


/* Navbar */

.header-github {
  border: 1px solid red;
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.search-bar {
  border: 1px solid violet;
  width: 20%;
}

.logo {
  border: 1px solid blue;
  
}

.notification{
  border: 1px solid aquamarine;
  width: 70px; // Quadrato
}

.git-nav li {
  display: inline;
}

.user-menù {
  border: 1px solid dodgerblue;
  width: 70px;
}

/* Text */

.container-text {
  display: flex;
  flex-flow: column wrap;
}

.panel-text {
  border-bottom: 1px dotted #000;
  padding: 20px; 
}

.text-normal {
  font-size: 40px;
}

.text-bold {
  font-size: 40px;
  font-weight: bold;
}

.text-italic {
  font-size: 40px;
  font-style: italic;
}


.rubik {font-family:'Rubik 80s Fade', cursive;}
.roboto {font-family: 'Roboto' , sans-serif;}
.bebasneue {font-family: 'Bebas Neue', cursive;}
